//Articles
.KB-Article { border-radius: .25em; color: $White; margin-bottom: .5em; overflow: hidden; position: relative;
    
    &Header { display: flex; align-items: flex-end;

        &:after { background: rgb(123,5,215); background: linear-gradient(90deg, rgba(123,5,215,1) 0%, rgba(0,212,255,1) 100%); bottom: 0; content: ""; left: 0; mix-blend-mode: multiply; position: absolute; right: 0; top: 0; }

        &Content { padding: 2em 1em 1em; position: relative; z-index: 1; 
        
            .KB-ArticleImage + & { margin-left: -100%; }
        }
    }
    &Title { margin-bottom: 0; 
    
        a { color: $White; }
    }

    &Link { bottom: 0; display: block; left: 0; position: absolute; right: 0; top: 0; z-index: 1; }
}