//Footer
.KB-Footer { background: lighten($PurpleBlack,1%); color: $white; min-height: 50vh;
 
    &Recents { align-items: flex-end; background: $PurpleBlack; color: $LightBlue; display: flex; padding: 2em 0 2em 2.5em; 
    
        a { color: $LightBlue; }
    }
    &Article { flex: 1; margin-right: 2.5em; }

    &About { display: flex; padding: 2.5em;

        a { color: $White; }
        &Image { flex: 1; margin-right: 2.5em; }
        &Content { flex: 2; font-size: .7em; }
        &Social { flex: 1; margin-left: 5em; 
        
            a { display: block; }
        }
    }

    &Bottom { align-items: center; color: $LightBlue; display: flex; font-family: $SansFontStack; justify-content: space-between; padding: 0 2.5em 1em; }
    &Copyright { font-size: .8em; line-height: 1.2em; }
    &Nav { font-size: 1.4em;

        &Link { color: $LightBlue; font-weight: bold; margin-left: 1.5em; }
    }
}