//Main Nav
@mixin MainNav() { display: flex; flex-basis: 100%; flex-direction: column; font-family: $SansFontStack; height: 100vh; left: 0; padding-top: 6em; perspective: 30em; perspective-origin: left center; position: fixed; transform: translate(-100%,0); top: 0; width: 25vw; z-index: 1;

    &:before { background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8) 70%, rgba(255,255,255,0) 100%); content: ''; height: 100%; left: 0; position: absolute; top: 0; width: 150%; }

    &Link { align-items: center; color: $White; display: flex; font-weight: bold; padding: .75em 2em; transform: rotateY(-90deg); transform-origin: left center;
    
        &:nth-child(1) { color: $Kelly; }
        &:nth-child(2) { color: $Plum; }
    }

    &Sidebar { padding: .75em 2em; transform: rotateY(-90deg); transform-origin: left center; }
}

.KB-MainNav { @include MainNav; }