//Main Nav
@mixin MainNav() { display: flex; filter: url(#shadowed-goo); flex-direction: column; font-family: $SansFontStack; left: 0; position: relative; top: 0; z-index: 1;

    &Links { left: 1em; position: absolute; top: 1em; width: 6em; }

    &Link { background: $LightBlue; border-radius: 100%; color: $White; display: block; font-size: 1.4em; font-weight: bold; left: 0; padding-bottom: 100%; position: absolute; text-align: center; transform: scale(0); top: 0; width: 100%;

        &:hover { color: lighten($LightBlue, 10%); }

        &Text { left: 50%; position: absolute; top: 50%; transform: translate(-50%,-50%); }
    }

    &Sidebar { display: none; padding: .75em 2em; transform: rotateY(-90deg); transform-origin: left center; }

    .filterSvg { bottom: 0; left: 0; position: absolute; right: 0; top: 0; z-index: -1; }
}

.KB-MainNav { @include MainNav; }