.KB-PostsNav { display: flex; font-family: $SansFontStack; font-size: .5em; font-weight: bold; justify-content: center; margin: 2em 0;

    &Link { background: $Gold; border-radius: .25em; color: $BasicTextColor; flex: 1; letter-spacing: .1em; margin: 0 .5em; max-width: 12em; padding: .5em 1em; text-align: center; text-transform: uppercase; }
}