.KB-Search { 
    form { align-items: center; border: 2px solid $BasicTextColor; display: flex; padding: .2em; width: 20em; }
    input { border: none; flex-grow: 1; font-size: 2em; margin: 0; padding: .75em; text-transform: none; }
    button { background: rgba($BasicTextColor,0); color: $BasicTextColor; font-size: .5em; padding: 1.5em; 
        &:hover { background: rgba($BasicTextColor,.1); }
    }
    .search-icon { width: 3em; }
}