//Home Page
.home:not(.paged) {

    .KB-Main { font-size: 1em; margin: 0 0 0 calc(40vw); padding: 0 0 0 2em; }
    .KB-Header { width: 30vw; }
    .KB-MenuTrigger { margin-right: .75em; }
    .KB-PostsNav { margin-left: calc(40vw + 4em); }
}