//Skeleton

@mixin pageRow { margin: $Unit; }




body { background: $White; color: $BasicTextColor; }

//PageTop
.KB-PageTop { @include pageRow; position: relative; }
//Main
.KB-Main { font-size: .8em; padding: 3em 0; @include GlobalPadding; padding-left: 2.5em; }