//Skeleton

@mixin pageRow( $unit:$Unit ) { margin: $unit; }




body { background: $White; color: $BasicTextColor; }

//PageTop
.KB-PageTop { @include pageRow(1em); position: relative; }
//Main
.KB-Main { font-size: .8em; margin-left: 25vw; padding: 3em 0; @include GlobalPadding; padding-left: 2.5em; }