//Breakpoints
$bp-medium: 640px;
$bp-large: 1024px;
$bp-xlarge: 1200px;
$bp-xxlarge: 1440px;

//Fonts
$BasicFontStack: 'Heuristica', serif;
$HeadingFontStack: 'Noe', serif;
$ScriptFontStack: 'Hugtophia', sans-serif;
$SansFontStack: Helvetica, Arial, sans-serif;

//Colors
$GreenBlack: #044246;
$PurpleBlack: #180018;
$Blue: #043f8d;
$LightBlue: #00abd3;
$FaintBlue: #e3e9f2;
$Yellow: #fec949;
$Grey: #3d3e43;
$DarkGrey: #999;
$MediumGrey: #ccc;
$LightGrey: #f2f2f2;
$NearWhite: #f8f9f3;
$Eggshell: #f8f9f3;
$Bronze: #aa885b;
$Midnight: #032121;
$Red: #b11623;

$White: #f1f0f2;
$BasicTextColor: $PurpleBlack;
$BasicHeadingColor: $BasicTextColor;
$Accent: $Blue;
$LightAccent: lighten($Accent, 10%);
$Warning: $Red;

//Borders
$LightBorder: 1px solid $LightGrey;
$MediumBorder: 4px solid $LightGrey;
$BoldBorder: 7px solid $LightGrey;

//Units
$m: 1em; //Base Em Proportion

//Inputs
$Inputs: 'input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"]';